<!-- <br>
<div class="container">
<div class="row">
  <form class="offset-sm-1 col-sm-3 ">
    <div class="form-group register">
            Company Name<input type="text" id="companyname"  class="form-control" [(ngModel)]="companyname">
          </div>
          <div class="form-group">
            Pan<input type="text" id="companyname" class="form-control" [(ngModel)]="pan">
          </div>
          <div class="form-group">
            State<input type="text" id="companyname"  class="form-control" [(ngModel)]="state">
          </div>
          <div class="form-group">
            TAN<input type="text" id="companyname"  class="form-control" [(ngModel)]="tan">
          </div>
  </form>

  <form class="col-sm-3">
      <div class="form-group">
        Company ID<input type="text" id="companyname"  class="form-control" [(ngModel)]="companyid">
        </div>
        <div class="form-group">
        GST<input type="text" id="companyname"  class="form-control" [(ngModel)]="gst"> 
        </div>
        <div class="form-group">
        Password<input type="password" id="companyname" class="form-control" [(ngModel)]="password"> 
        </div>
        <div class="form-group">
        Address<input type="address" id="companyname" class="form-control" [(ngModel)]="address"> 
        </div>
</form>


<form class="col-sm-3">
      <div class="form-group">
        Register ID<input type="text" id="companyname" class="form-control" [(ngModel)]="registerid"> 
      </div>
      <div class="form-group">
        Country<input type="text" id="companyname" class="form-control" [(ngModel)]="country"> 
      </div>
      <div class="form-group">
        Contact<input type="text" id="companyname" class="form-control" [(ngModel)]="contact"> 
      </div>
      <div class="form-group">
        Pincode<input type="text" id="companyname" class="form-control" [(ngModel)]="pincode"> 
      </div>
</form>



</div>
</div>
<div class="text-center">
  <button class="btn btn-warning" (click)="savinginfo()">Submit</button>
</div> -->




  <!-- <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

  
    <form class="offset-sm-4 col-sm-4 mt-5">

    
      <div class="form-group">
              Name<input type="text" id="companyname" class="form-control">
            </div>
            <div class="form-group">
              Designation<input type="text" id="companyname" class="form-control">
            </div>
            <div class="form-group">
              Address<input type="text" id="companyname" class="form-control">
            </div>
            <div class="form-group">
              Mobile Number<input type="text" id="companyname" class="form-control">
            </div>
            <div class="form-group">
              E-Mail<input type="text" id="companyname" class="form-control">
            </div>
            <div class="form-group">
              Pincode<input type="text" id="companyname" class="form-control">
            </div>

</form>

  </div> -->
  <!-- <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">

    <form class="offset-sm-2 col-sm-4 mt-5">
      
      <div class="form-group">
              Name<input type="text" id="companyname" class="form-control">
            </div>
            <div class="form-group">
              Designation<input type="text" id="companyname" class="form-control">
            </div>
            <div class="form-group">
              Address<input type="text" id="companyname" class="form-control">
            </div>
            <div class="form-group">
              Mobile Number<input type="text" id="companyname" class="form-control">
            </div>
            <div class="form-group">
              E-Mail<input type="text" id="companyname" class="form-control">
            </div>
            <div class="form-group">
              Pincode<input type="text" id="companyname" class="form-control">
            </div>
            <div class="text-center">
              <button class="btn btn-warning ">Submit</button>
            </div>



</form> -->

<div class="mt-sm-5">
  <h3 class="text-center">Register | <button class="btn btn-outline">Login</button></h3>
  <div class="row">
  <div class="mt-sm-5 offset-sm-1 col-sm-4">

    Company Name<input type="text" class="form-control" style="border-color: #4857ec">
    <div class="">
    <div class="mt-sm-3 col-sm-6">
     e-mail ID<input type="text" class="form-control" style="border-color: #4857ec">
    </div>
    <div class="mt-sm-3 col-sm-6">
        Password<input type="text" class="form-control" style="border-color: #4857ec">
      </div>
      <div class="mt-sm-3 col-sm-6">
          Confirm Password<input type="text" class="form-control" style="border-color: #4857ec">
        </div>
  </div>
  

  </div>
  <div class="mt-sm-5 offset-sm-1 col-sm-4">
      <form class="col-sm-8">
          <div class="form-group">
          Address<input type="text" id="companyname" class="form-control" style="border-color: #4857ec"> 
          </div>
          <div class="form-group">
            State<input type="text" id="companyname" class="form-control" style="border-color: #4857ec"> 
          </div>
          <div class="form-group">
            Country<input type="text" id="companyname" class="form-control" style="border-color: #4857ec"> 
          </div>
          <div class="form-group">
            Phone No<input type="text" id="companyname" class="form-control" style="border-color: #4857ec"> 
          </div>
    </form>
    

  </div>
  </div>
  <div class="offset-sm-5 col-sm-2 mt-sm-5">
    <button class="btn btn-warning form-control">Submit</button>
  </div>
</div>
-